<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <img class="logo" src="./assets/Beagle.svg" />
    <script type="text/javascript" src="index.js"></script>
</head>
<body>
    <div id="Release"></div>
    <label>Novas funcionalidades</label>
    <div id="Funcionalidades"></div>
    <label>Impactos no</label> <a id="Plataforma"></a>
    <div id="Impactos"></div>
    <div>
        <img src="./assets/People.svg">
    </div>
    <footer>
        <p>Obrigado.</p>
        <p>Equipe Beagle</p>
        <div>
            <a>2020 Bealge.All rights reserved.</a> 
            <a>Powered by ZupI.T.Innovation</a>
        </div>
    </footer>
</body>

</html>