* {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
}

button {
    background-color: #13cf1c;
    border: none;
    color: white;
    padding: 12px 23px;
    text-align: center;
    font-size: 12px;
    margin: 2px 1px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    opacity: 1
}

.submit {
    margin-top: 15px;
}

body {
    width: 100%;
    height: 100%;
    background: #f5f3f3;
    display: flex;
    justify-content: center;
}

.container {
    width: 75%;
    height: 100%;
    background: #ffffff;
    padding: 30px 8px;
    border-radius: 3px;
    box-shadow: 1px 3px 6px 5px rgba(0, 0, 0, 0.37);
}

.beagle__brand {
    text-align: center;
    padding: 20px 1px;
}

.plataform__properties {
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.plataform__select {
    padding: 3px;
    width: 30%;
    border-radius: 5px;
}

.input__style {
    padding: 3px;
    width: 31%;
    border-radius: 5px;
}

.input__style__add {
    padding: 3px;
    border-radius: 5px;
    width: 20%;
}

.plataform__news {
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.button__style {
    border-radius: 5px;
}

.news_list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.news__functionalities {
    width: 100%;
    height: 100%;
    list-style: none;
    /* border: 2px solid; */
}

.news__functionalities__item {
    list-style: none;
    width: 70%;
    align-self: center;
    padding: 5px;
    margin-top: 4px;
}

.news__impacts {
    width: 100%;
    height: 100%;
}

.news__impacts__item {
    list-style: none;
    width: 70%;
    align-self: center;
    padding: 5px;
    margin-top: 4px;
}

.content__toast {
    visibility: hidden;
    position: fixed;
    z-index: 2;
}

.toast_warning {
    visibility: visible;
    margin-top: 70px;
    background-color: #dfa800;
    color: #fff;
    width: 250px;
    padding: 10px;
    position: fixed;
    border-radius: 10px;
    z-index: 2;
    margin-left: 200px;
    text-align: center;
}

#impacts-list {
    display: flex;
    flex-direction: column;
}

#functionalities-list {
    display: flex;
    flex-direction: column;
}

.list-title {
    text-align: center;
}