.logo {
    text-align: center;
    margin-left: 13%;
  }

 body {
    align-items: left;
    align-content: left;
    text-align: left;
    margin-left: 30%;
    font-family: 'Lato', sans-serif;
  }

  footer {
    text-align: left;
  }

  .rights{
    text-align: center;
   justify-content: space-between;
   width: 1500px;
    
  }
