body {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center; 
  /* background-color: #555353; */

}

.container{
  display: flex;
  justify-content: center; 
  padding: 30px 20px;
  width: 60%;
}

.beagle_brand{
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

/* .beagle__version{
  
} */

.beagle__version__text{
  display: flex;
  justify-content: center;
}

.container__content{
  
}

.content__list{
  padding: 20px 30px;
}

.content__list__item{
  list-style: none;
}


footer{
  margin-top: 10%;
}

.footer__copyright{
  display: flex;
  justify-content: space-between;
}

