body {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;

}

.container{

}

.container__content{

}

.brand {
  text-align: center;
}

.footer__copyright{
  display: flex;
  justify-content: space-between;
}

